@model Task1

@{
	ViewData["Title"] = "Delete task";
}
<div class="container mt-5">
	<div class="card shadow rounded-3 border-danger">
		<div class="card-header bg-danger text-white">
			<h4 class="mb-0">Delete Task Confirmation⚠</h4>
		</div>
		<div class="card-body">
			<p class="fs-5">Are you Sure You Want To Delete This Task?</p>
			<dl class="row">
				<dt class="col-sm-3">Title : </dt>
				<dd class="col-sm-9">@Model.Title</dd>
				<dt class="col-sm-3">Description : </dt>
				<dd class="col-sm-9">@Model.Description</dd>
				<dt class="col-sm-3">Due Date : </dt>
				<dd class="col-sm-9">@Model.Due_date</dd>
				<dt class="col-sm-3">Assigner</dt>
				<dd class="col-sm-9">@Model.AssignedTo?.Name ?? "Not Assigned"</dd>
				<dt class="col-sm-3">Status</dt>
				<dd class="col-sm-9">@Model.Status</dd>
			</dl>
			<form asp-action="Delete">
				<input type="hidden" asp-for="Id" />
				<div class="d-flex justify-content-between mt-4">
					<a asp-action="Index" class="btn btn-secondary">Cancel</a>
					<button type="submit" class="btn btn-danger">Delete Task</button>
				</div>
			</form>
		</div>
	</div>
</div>